html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

canvas {
  display:block;
  background: #121212;
  position: fixed;
  z-index: -1;
}